body {
    display: flex;
    flex-direction: column;
    background-color: #ffec00;
    justify-content: space-between;
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

#upperBox {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

#middleBox {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.left {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hand {
    display: block;
    height: 150px;
    width: auto;
    padding: 20px;
    border-radius: 50%;
    transition: transform 0.2s;
}

.hand:hover {
    transform: scale(1.1);
}

.vs {
    width: 125px;
    height: auto;
}

#middleBox .playerSelection .playerSelectedImage,
#middleBox .computerSelection .computerSelectedImage {
    display: block;
    padding: 0px;
    margin: 5px;
    background-color: transparent;
    border: 2px solid #343a40;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.playerSelection,
.computerSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 260px;
}

.displaySelection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#middleBox .score {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #343a40;
    color: white;
    border: 2px solid #fff;
    height: 250px;
    width: auto;
    border-radius: 10px;
}

#lowerBox {
    width: 300px;
    height: 200px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

#creatorBox {
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 5px 0;
    display: flex;
    justify-content: center; /* Center content horizontally */
}

@media screen and (max-width: 500px) {
    #middleBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: auto;
    }

    .player,
    .displaySelection {
        display: flex;
        align-items: center;
    }
    .displaySelection{
        flex-direction: column;
    }
    .playerSelection,
    .computerSelection{
        display: flex;
        flex-direction: row;
    }
    .displaySelection h2{
        max-width: 50px;
        margin-right: 100px;
    }
    #middleBox .playerSelection .playerSelectedImage,
    #middleBox .computerSelection .computerSelectedImage {
        display: block;
        padding: 0px;
        margin: 5px;
        background-color: transparent;
        border: 2px solid #343a40;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        overflow: hidden;
    }
    .hand {
        display: block;
        height: 75px;
        width: auto;
        padding: 20px;
        border-radius: 50%;
        transition: transform 0.2s;
    }

    #middleBox .score {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background-color: #343a40;
        color: white;
        border: 2px solid #fff;
        height: auto;
        width: 300px;
        border-radius: 10px;
    }

    #lowerBox {
        width: 300px;
        height: 200px;
        margin: auto;
        background-color: #fff;
        border-radius: 10px;
        border: 2px solid black;
        padding: 20px;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}
